.return__link{
    color: #2F4DA3;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    font-family: Manrope;
    padding-top: 15px;
    max-width: 640px;
}
.menu{
    padding-left: 25px;
    padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
    .return__link{
        max-width: 450px;
    }
}