header{
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    a{
        text-decoration: none;
    }
}


.navbar__top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: rgb(69, 69, 69);
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        opacity: 0.5;
    }

    a.active {
        opacity: 1;
    }
    &-menu{
        display: flex;
        align-items: center;
        gap: 27px;
    }
    &-contact{
        display: flex;
        align-items: center;
        gap: 17px;
        p{
            color: rgb(69, 69, 69);
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
        }
    }
}

.navbar__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    gap: 12px;
    &-resp{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        &-left{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &-right{
            display: none;
            align-items: center;
            gap: 26px;
            a{
                color: #454545;
            }
        }
        &-menu{
            position: absolute;
            background: #fff;
            top: 50px;
            width: 100%;
            z-index: 100;
            ul{
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.5;
                    padding: 15px 0;
                    border-bottom: 1px solid;
                    a{
                        color: black;
                    }
                }
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 100%;
                border-radius: 100px;
                background: rgb(69, 69, 69);
                border: none;
                cursor: pointer;
                color: #fff;
                padding: 14px;
                margin: 42px 0;
            }
        }
    }
    &-bar{
        display: none;
    }
    &-logo{
        display: flex;
        gap: 9px;
        h3{
            font-family: "Inter", sans-serif;
            color: rgb(69, 69, 69);
            font-size: 29px;
            font-weight: 400;
            line-height: 35px;
        }
    }
    &-category{
        display: flex;
        border-radius: 100px;
        background: rgb(69, 69, 69);
        padding: 12px 26px;
        cursor: pointer;
        align-items: center;
        gap: 5px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        border: none;
    }
    &-category:hover {
        opacity: 0.9;
    }
    
    &-input{
        display: flex;
        border: 1px solid rgb(69, 69, 69);
        border-radius: 100px;
        input{
            padding: 12px 0px 12px 24px;
            border: none;
            outline: none;
            background: none;
            width: 100%;
            max-width: 626px;
        }
        button{
            padding: 0px 12px;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
        }
    }
    &-search{
        position: relative;
        width: 48%;
        &-list{
            position: absolute;
            background-color: white;
            width: 100%;
            max-height: 300px;
            padding: 10px;
            list-style: none;
            overflow-y: scroll;
            z-index: 30;
            .search__result{
                width: 100%;
                padding: 5px;
                border-bottom: 1px solid #454545;
                a{
                    display: flex;
                    color: #454545;
                    align-items: center;
                    gap: 10px;
                    img{
                        width: 30px;
                        width: 50px;
                    }
                }
            }
        }
        &-empty{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 356px;
                width: 100%;
            }
        }
    }
    &-btns{
        display: flex;
        align-items: center;
        gap: 29px;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(69, 69, 69);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
        }
    }
}

input[type="search"] {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    outline: none;
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    &::-moz-clear {
        display: none;
    }
}

.overlay {
  position: fixed;
  top: 526px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}




@media (max-width: 896px) {
    header{
        padding: 0;
    }
    .navbar__top{
        display: none;
    }
    .navbar__main{
        &-category{
            display: none;
        }
        &-bar{
            display: flex;
            cursor: pointer;
            border: none;
            background: none;
        }
    }
}

@media (max-width: 787px) {
    .navbar__main{
        &-btns{
            display: none;
        }
        &-resp-right{
            display: flex;
        }
    }
}

@media (max-width: 599px) {
    .navbar__main{
        flex-direction: column;
        &-resp{
            width: 100%;
        }
        &-input{
            width: 100%;
        }
        &-search{
            width: 100%;
        }
    }
}

@media (max-width: 388px) {
    .navbar__main-resp-left{
        a{
            h3{
                display: none;
            }
        }
    }
}