.admin__layout{
    display: flex;
}

.admin__content{
    padding: 22px 32px;
    padding-left: 380px;
    h2{
        color: rgb(69, 69, 69);
        font-size: 28px;
        font-weight: 500;
        line-height: 110%;
    }
}